$background: #1C1B1B;
$primary: #DF611C;
$secondary: #00918C;

.movie-card-container {
  padding: 0;
  .movie-card {
    border: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
    img {
      filter: brightness(0.85);
    }
    .card-body,
    .card-title,
    .card-text {
      background-color: lighten($background, 4%);
    }
    .card-title {
      font-size: 1.3rem;
      color: lighten($primary, 7%);
    }
    .card-text {
      color: rgba(255, 255, 255, 0.5);
    }
    .button-cards {
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6) !important;
      &:hover,
      &:focus,
      &:active {
        box-shadow: none !important;
      }
    }
  }
}
