$primary: #DF611C;

.main-view {
  max-width: 1400px;
  min-height: 100vh;
  margin: 0 auto !important;
  align-content: flex-start;
  .page-title {
    font-size: 2.25rem;
    color: lighten($primary, 7%);
  }
}
