$background: #1C1B1B;
$primary: #DF611C;
$secondary: #00918C;

.movie-title {
  font-size: 2.25rem !important;
  color: lighten($primary, 7%) !important;
}
img {
  max-height: 500px;
  filter: brightness(0.85);
}
.button-secondary {
  background-color: $secondary !important;
  &:hover,
  &:focus,
  &:active {
    background-color: darken($secondary, 7%) !important;
  }
}