$background: #1C1B1B;
$primary: #DF611C;
$secondary: #00918C;
$text: #F5F5F5;
$muted-text: #A6A6A6;
$font: 'Ropa Sans', sans-serif;

* {
  background-color: $background;
  color: $text;
  font-family: $font;
  font-size: 20px;
}

body {
  min-height: 100vh;
}

.muted-text {
  color: $muted-text;
}

a {
  color: $primary !important;
  &:hover,
  &:focus,
  &:active {
    color: lighten($primary, 7%) !important;
    transition: 0.2s;
  }
}

button {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6) !important;
  border: none !important;
  &:hover,
  &:focus,
  &:active {
    box-shadow: none !important;
  }
}

.button-primary {
  background-color: $primary !important;
  &:hover,
  &:focus,
  &:active {
    background-color: lighten($primary, 7%) !important;
  }
}

.button-secondary {
  background-color: $secondary !important;
  color: whitesmoke !important;
  border: none !important;
  &:hover,
  &:focus,
  &:active {
    background-color: darken($secondary, 7%) !important;
    color: whitesmoke !important;
  }
}