$primary: #DF611C;
$text: #F5F5F5;

.navbar {
  background-color: darken($primary, 10%);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.6);
  .navbar-brand {
    color: $text !important;
    font-size: 2rem;
    margin-right: 4rem;
  }
  .container,
  .navbar-nav,
  .navbar-brand,
  .navbar-collapse,
  .navbar-dropdown,
  .nav-item {
    background-color: darken($primary, 10%) !important;
  }
  .nav-item-large {
    width: 33%;
  }
  .navbar-dropdown {
    cursor: pointer;
  }
  .dropdown {
    margin-right: 1rem;
  }
  .dropdown-menu {
    background-color: darken($primary, 15%) !important;
    border: none;
    .dropdown-item {
      color: $text !important;
      &:hover,
      &:focus {
        background-color: $primary;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2) !important
      }
    }
    .dropdown-divider {
      border-top: 3px solid lighten($primary, 15%);
    }
  }
  .nav-link {
    color: $text !important;
    font-size: 1.25rem;
    &:hover,
    &:focus {
      color:rgba(255, 255, 255, 0.6) !important;
    }
  }
  button {
    background-color: lighten($primary, 7%) !important;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2) !important;
    font-size: 1.15rem;
    &:hover,
    &:focus,
    &:active {
      background-color: $primary !important;
    }
  }
}
